---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="about">
    <div class="wrapper">
      <div class="left">
        <div class="description">
          <p>
            is an artist from Porto whose work is immersed in the realm of fluid
            and chaotic motion, evoking a sense of otherworldly environments
            through the incorporation of motors and simple mechanics.
          </p>
          <p class="indent">
            Combining sculpture, kinetics, found objects, energy, painting, and
            industrial materials, Aroso creates mesmeric spaces where his
            artworks come alive in an enigmatic dance of disorder and harmony.
          </p>
          <p class="indent">
            Each piece showcases an interplay of diverse shapes, materials,
            textures and light into the semblance of living organisms,
            exhibiting involuntary behaviors that blur the lines of logic and
            perception, serving as a vehicle to a phantasmagoric wonder.
          </p>
          <p class="indent">
            The machines within the installations seem to have a hidden soul, as
            if something is growing and evolving within them, waiting to be set
            free where the audience is invited to witness this transformative
            process in a deeper level.
          </p>
          <p class="indent">
            It's an invitation to embrace the unknown and to explore the
            complexities of the natural and supernatural world and to
            contemplate the forces that govern it.
          </p>
        </div>
        <div class="row">
          <h3>Rodrigo Maia Aroso Ramos</h3>
          <div class="detail-wrapper">
            <p class="detail-text">22-06-1996</p>
          </div>
        </div>

        <div class="row">
          <h3>Formação Académica</h3>
          <div class="detail-wrapper">
            <p class="detail-text">2014 - 2019</p>
            <p class="detail-text">
              Faculdade de Belas Artes da Universidade do Porto
            </p>
            <p class="detail-text">
              Práticas de escultura, Atelier de Escultura,
            </p>
            <p class="detail-text">Práticas de Vídeo, Áudio,</p>
            <p class="detail-text">História da Arte, Desenho</p>
          </div>
        </div>

        <div class="row">
          <h3>Info / Contact</h3>
          <div class="detail-wrapper">
            <p class="detail-text">+351 917734664</p>
            <p class="detail-text">rodrigoo.aroso@gmail.com</p>
            <p class="detail-text">o.rodrigo.aroso@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="right">
        <img
          src="/RodrigoAroso.jpeg"
          loading="lazy"
          alt="Rodrigo working on his bench"
          class="about-image"
        />
      </div>
    </div>
  </section>

  <style>
    .wrapper {
      display: flex;
    }

    .wrapper > * {
      flex-basis: 100%;
    }

    .description {
      max-width: 55ch;
      padding-left: 1rem;
      margin-bottom: 10rem;
    }

    .description .indent {
      text-indent: 38px;
    }

    .description > p {
      padding: 0;
      margin: 0;
      color: var(--black-50);
      font-family: var(--font-brand);
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 105%;
    }

    .row {
      display: flex;
      gap: ;
      padding-left: 1rem;
      margin: 1em 0 1em 0;
    }

    .row > h3 {
      min-width: 30ch;
      color: var(--black-50);
      font-family: var(--font-brand);
      font-weight: 600;
      font-size: 0.875rem;
      margin: 0;
    }

    .detail-text {
      color: var(--black-50);
      font-family: "CenturyBook";
      font-weight: 500;
      font-size: 0.875rem;
      margin-top: 0;
      margin-bottom: 0.875em;
    }

    .about-image {
      display: block;
      float: right;
      width: 100%;
    }
  </style>
</BaseLayout>
