---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="about">
    <div class="wrapper">
      <div class="left">
        <div class="description">
          <p>I’m an artist based in Porto.</p>
          <p class="indent">
            I think that my work belongs in the realm of fluid and chaotic
            motion that evokes a sense of otherworldly environments through the
            incorporation of motors and simple mechanics.
          </p>
          <p class="indent">
            Combining sculpture, kinetics, found objects, energy, painting, and
            industrial materials, I aim towards the creation of mesmeric
            environments where artworks come alive in an enigmatic dance of
            disorder and harmony.
          </p>
          <p class="indent">
            Each piece showcases an interplay of diverse shapes, materials,
            textures and light in a semblance of living organisms, they end up
            as a vehicle to a phantasmagoric wonder, by exhibiting involuntary
            behaviours that blur the lines of logic and perception.
          </p>
          <p class="indent">
            The machines within the installations seem to have hidden souls, as
            if something is growing and evolving within them, waiting to be set
            free by the audience who is encouraged to witness this somewhat
            metamorphic process in a deeper level.
          </p>
          <p class="indent">
            It's an invitation into the unknown, to go in and try to explore the
            complexities of the natural and supernatural world, to contemplate
            the forces that govern it.
          </p>
        </div>
        <div class="row">
          <h3>Rodrigo Maia Aroso Ramos</h3>
          <div class="detail-wrapper">
            <p class="detail-text">22-06-1996</p>
          </div>
        </div>

        <div class="row">
          <h3>Academic Education</h3>
          <div class="detail-wrapper">
            <p class="detail-text">2014 - 2019</p>
            <p class="detail-text">
              Faculdade de Belas Artes da Universidade do Porto
            </p>
          </div>
        </div>

        <div class="row">
          <h3>Info / Contact</h3>
          <div class="detail-wrapper">
            <p class="detail-text">+351 917734664</p>
            <p class="detail-text">rodrigoo.aroso@gmail.com</p>
            <p class="detail-text">o.rodrigo.aroso@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="right">
        <img
          src="/RodrigoAroso.jpeg"
          loading="lazy"
          alt="Rodrigo working on his bench"
          class="about-image"
        />
      </div>
    </div>

    <style>
      .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .description {
        max-width: 55ch;
        padding-left: 1rem;
        margin-bottom: 10rem;
      }

      .description .indent {
        text-indent: 38px;
      }

      .description > p {
        padding: 0;
        margin: 0;
        color: var(--black-50);
        font-family: var(--font-brand);
        font-size: var(--text-lg);
        line-height: 20px;
      }

      .row {
        display: flex;
        padding-left: 1rem;
        margin: 1em 0 2em 0;
        align-items: start;
      }

      .row > h3 {
        min-width: 25ch;
        color: var(--black-50);
        font-family: var(--font-brand);
        font-size: var(--text-sm);
        margin: 0;
      }

      .detail-text {
        color: var(--black-50);
        font-family: var(--font-body);
        font-size: var(--text-sm);
        margin: 0;
        padding-top: 0.15em;
      }

      .right {
        max-width: 50%;
      }

      .about-image {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      @media screen and (max-width: 576px) {
        .wrapper {
          flex-direction: column-reverse;
          gap: 0;
        }

        .right {
          max-width: 100%;
        }

        .description {
          max-width: 100%;
          padding: 1rem;
          margin: 0;
        }

        .row {
          padding: 1rem;
          margin: 0;
          align-items: start;
          flex-direction: column;
        }
      }
    </style>
  </section>
</BaseLayout>
