---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Work articles component
import WorkCover from "../components/WorkCover.astro";
---

<BaseLayout>
  <section class="2022">
    <div class="year-label">
      <p>2022</p>
    </div>
    <article>
      <WorkCover
        title="motorshell"
        color="#FFFFFF"
        href="/motorshell/"
        label="Installation, "
        name="Viagem ao Anti-Centro"
        local=", Espaço Ócio, Porto"
        src="/2022/motorshell/motorshellcover.jpg"
        alt="Overview of the exhibition at Ócio."
      />
    </article>
  </section>
  <section class="2020">
    <div class="year-label">
      <p>2020</p>
    </div>
    <article>
      <WorkCover
        title="moving cloth"
        color="#FFFFFF"
        href="/movingcloth/"
        label="Installation, "
        local="Limina, Porto"
        src="/2020/movingcloth/movingclothcover.jpg"
        alt="Shape with cloth on top."
      />
    </article>
    <article>
      <WorkCover
        title="presença luminosa mutável"
        color="var(--black-50)"
        href="/presencamutavel/"
        name="Site-specific"
        local=", Limina, Porto"
        src="/2020/presencaluminosamutavel/presencaluminosacover.jpg"
        alt="Lights from the ceiling."
      />
    </article>
    <article>
      <WorkCover
        title="video installation"
        color="var(--black-50)"
        href="/videoinstalacao/"
        label="Galeria Dentro, Porto"
        src="/2020/videoinstalacao/videoinstalacaocover.jpg"
        alt="Wire in the middle of the room."
      />
    </article>
    <article>
      <WorkCover
        title="presença mutável"
        color="var(--black-50)"
        href="/videoinstalacao/"
        label="Installation,"
        local="Galeria Dentro, Porto"
        src="/2020/presencamutavel/presencamutavelcover.jpg"
        alt="Shape getting out of a wall."
      />
    </article>
    <article>
      <WorkCover
        title="díodo"
        color="#FFFFFF"
        label="Installation,"
        local="Ácida, Porto"
        href="/diodo/"
        src="/2020/diodo/diodocover.jpg"
        alt="Dark image of diodo installation."
      />
    </article>
    <article>
      <WorkCover
        title="duo"
        color="var(--black-50)"
        label="Collective exhibition, installation"
        name='"Encontrar Um CLICK Num Palheiro"'
        local=", Centro Comercial de Cedofeita, Porto"
        href="/duo/"
        src="/2020/duo/duocover.jpg"
        alt="Duo exhibition machines."
      />
    </article>
  </section>
  <section class="2019">
    <div class="year-label">
      <p>2019</p>
    </div>
    <article>
      <WorkCover
        title="dunne"
        color="#FFFFFF"
        label="Installation"
        name='"With Grandpa&apos;s Lab"'
        local=" Fisga, Porto"
        href="/dune/"
        src="/2020/dune/dunecover.jpg"
        alt="Matrix of light on textile."
      />
    </article>
    <article>
      <WorkCover
        title="wave"
        color="#FFFFFF"
        href="/wave/"
        label="Collaborative installation with Gil Peixoto"
        local="Ácida, Porto"
        src="/2019/wave/wavecover.jpg"
        alt="A dark and abstract scenary."
      />
    </article>
    <article>
      <WorkCover
        title="organismo vivo"
        color="var(--black-50)"
        href="/organismovivo/"
        label="Installation, "
        local="TETRIS III, Pérola Negra, Porto"
        src="/2019/organismovivo/organismovivocover.jpg"
        alt="Barbie up the wall."
      />
    </article>
    <article>
      <WorkCover
        title="mechanic drawing"
        color="var(--black-50)"
        href="/mechanicdrawing/"
        label="Installation, "
        local="TETRIS II, Porto"
        src="/2019/mechanicdrawing/mechanicdrawingcover.jpg"
        alt="Drawing robot."
      />
    </article>
  </section>
  <section class="2018">
    <div class="year-label">
      <p>2018</p>
    </div>
    <article>
      <WorkCover
        title="sound machine"
        color="var(--black-50)"
        label="Installation, "
        local="void"
        src="/2018/soundmachine/soundmachinecover.jpg"
        alt="Wooden robot in an angle."
      />
    </article>
  </section>
</BaseLayout>

<style>
  .year-label {
    padding-right: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 0.75rem;
    text-align: right;
  }

  .year-label p {
    padding: 0;
    margin: 0;
    color: var(--black-50);
    font-family: var(--font-brand);
    font-weight: 600;
    font-size: 1.625rem;
  }
</style>
