---
const textLinks = [
  { label: "work,", href: "/work/" },
  { label: "about", href: "/about/" },
];
---

<nav class="navbar">
  <div class="site-title-wrap">
    <a href="/" class="site-title">rodrigo aroso</a>
    <a href="/" class="site-title-sm">
      <img
        src="/ra.png"
        alt="rodrigo aroso"
        loading="lazy"
        width="22"
        height="22"
      />
    </a>
  </div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      {
        textLinks.map(({ label, href }) => (
          <li>
            <a
              aria-current={Astro.url.pathname === href}
              class:list={[
                "link",
                {
                  active:
                    Astro.url.pathname === href ||
                    (href !== "/" && Astro.url.pathname.startsWith(href)),
                },
                {
                  home: Astro.url.pathname === "/",
                },
              ]}
              href={href}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  .navbar {
    z-index: 10000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    bottom: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: var(--black-50);
    font-family: var(--font-brand);
    font-size: var(--text-2xl);
    /* top | right | bottom | left */
    padding: 0 1rem 0.125rem 1rem;
  }

  .site-title {
    text-decoration: none;
    color: var(--black-50);
    display: block;
  }

  .site-title:hover {
    filter: blur(2px);
  }

  .site-title-sm {
    display: none;
  }

  .site-title-sm > img {
    display: block;
  }

  .site-title-sm:hover {
    filter: blur(2px);
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links li {
    list-style: none;
  }

  .navbar-links li a {
    text-decoration: none;
    color: var(--black-50);
    filter: blur(0);
    display: block;
  }

  .navbar-links a:hover {
    filter: blur(2px);
  }

  /*
  .link.active {
    filter: blur(0);
  }

  .link.home {
    filter: blur(0);
  }*/

  .toggle-button {
    position: absolute;
    top: 1.125rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--black-50);
    border-radius: 10px;
  }

  @media (max-width: 576px) {
    .site-title {
      display: none;
    }

    .site-title-sm {
      margin-top: 0.2rem;
      display: block;
    }

    .toggle-button {
      display: none;
    }

    .navbar {
      font-size: var(--text-xl);
    }
  }
</style>
